<head>
    <link rel="stylesheet" href="menu.css">
    <link href="./img/favicon.ico" type="image/x-icon" rel="icon">
    <link href="./img/favicon.ico" type="image/x-icon" rel="shortcut icon">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/3.1.1/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.1.1/firebaseui.css" />
</head>
<body>
    <div id="main"></div>
    <script defer type="text/javascript" src="./js/function.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.3.1/firebase.js"></script>
</body>
https://toorshia.github.io/justgage/
https://toorshia.github.io/justgage/examples/animation-events-hooks.html
https://toorshia.github.io/justgage/examples/text-renderer-2.html#