body {
    background-color: #f4f4f4;
    margin: 0px;
}

#charge {
    text-align: center;
}

main {
    text-align: center;
    width: 100%;
}

.main-cont {
    padding-right: 25px;
    padding-bottom: 2%;
    padding-left: 25px;
}

.md-btn {
    font-size: 1.1rem;
    color: #3EA9E4;
    position: relative;
    display: inline-block;
    padding: 1px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    border-radius: 3px;
    background-image: -webkit-linear-gradient(4deg, #5789f4, #6fceda);
    background-image: -o-linear-gradient(4deg, #5789f4, #6fceda);
    background-image: linear-gradient(94deg, #5789f4, #6fceda);
    width: 250px;
}

.md-btn_inner {
    display: block;
    background-color: #fff;
    border-radius: 3px;
    line-height: 1;
    padding: 10px 10px;
}

#header h1 {
    font-size: 1.0rem;
    margin-top: auto;
    width: 100%;
    background: #32b5cf;
    text-align: center;
    color: #fff;
    padding-top: 6px;
    padding-right: 0px;
    padding-bottom: 6px;
    padding-left: 5%;
}

#header h1::after {
    content: "";
    width: 60px;
    height: 40px;
    background: url(../img/title_img.png) 0 0/100% no-repeat;
    margin-right: 6px;
    display: inline-block;
    vertical-align: middle;
}

#footer {
    font-size: 0.8rem;
    margin-top: auto;
    width: 100%;
    background: #32b5cf;
    text-align: center;
    color: #fff;
    padding-top: 6px;
    padding-right: 0px;
    padding-bottom: 6px;
    padding-left: 0px;
}

.feature::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #abc4fa, #bef3ea);
    background-image: -o-linear-gradient(left, #abc4fa, #bef3ea);
    background-image: linear-gradient(to right, #abc4fa, #bef3ea);
}

#gauge {
    height: 160px;
}

#loader div::after {
    content: "" ;
    width: 40px;
    height:40px;
    background: url(../img/loading.gif) 0 0/100% no-repeat;
    display: inline-block;
}

#loader  {
    position:relative;
    top:30px ;
}