<header>
    <h1 id="headertitle">ペンギンモバイル マイページ</h1>
</header>
<nav id="nav">
    <div class="navicont">
        <span><a href="./index.html">トップページ</a></span>
        <span><a href="./collect.html">ご利用状況の確認</a></span>
        <span><a href="./contract.html">ご契約情報照会</a></span>
        <span><a href="./procedure.html">各種お手続き</a></span>
        <span><a href="./inquiry.html">お問い合わせ</a></span>
    </div>
</nav>
<div id="drawer">
    <span class="inner_line" id="line1"></span>
    <span class="inner_line" id="line2"></span>
    <span class="inner_line" id="line3"></span>
    <span id="menutxt">menu</span>
</div>