/* navigation contents */
#nav{
  position: absolute;
  height: 100vh;
  width: 200px;
  left: -200px;
  top: 0px;
  background: #ffffff;
  transition: .7s;
}
#nav .navicont{
  padding-top: 50px;
}
#nav a{
  display: block;
  text-decoration: none;
  color: #000000;
  margin: 0 5px;
  padding: 10px;
  transition: .5s;
}
#nav span a:hover{
  color: #ffffff;
  background: #32b5cf;
  border-bottom: none;
}
#drawer {
  display: block;
  position: absolute;
  top: 10px;
  left: 15px;
  width: 40px;
  height: 44px;
  cursor: pointer;
  transition: 1s;
}
#nav,#drawer{
  z-index: 10000;
}
.inner_line {
  display: block;
  position: absolute;
  left: -5px;
  width: 40px;
  height: 3px;
  background-color: #ffffff;
  transition: 1s;
  border-radius: 4px;
}
#line1 {
  top: -2px;
}
#line2 {
  top: 8px;
}
#line3 {
  top: 18px;
}
#menutxt {
  position: absolute;
  top: 22px;
  left: -5px;
  color: #ffffff;
  font-size: 14px;
}
p {
  padding-top: 200px;
  text-align: center;
}
.in{
  transform: translateX(100%);
}
.line_1,.line_2,.line_3{
  background: #000000;
}
.line_1 {
  transform: translateY(10px) rotate(-45deg);
  top: 0;
}
.line_2 {
  opacity: 0;
}
.line_3 {
  transform: translateY(-10px) rotate(45deg);
  bottom: 0;
}
.txt_none{
  display: none;
}

@media screen and (max-width: 40%) {
  #nav ul li {
    font-size: 14px;
  }
  h1 {
    display: none;
  }
  h2 {
    display: block;
    font-size: 14px;
  }
  #menutxt {
    display: none;
  }
}
.main_cover{
  position:absolute;
  width: 100%;
  visibility: hidden;
  z-index: -1;  
  -webkit-transition: .3s;
  transition: .3s;
}
.main_cover.active{
  top:0px;
  height:100%;
  visibility: visible;
  background:rgba(0,0,0,0.6);
  z-index:1000;
}